{
	"semi": true,
	"singleQuote": true,
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": true,
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "css",
	"quoteProps": "as-needed",
	"trailingComma": "none",
	"proseWrap": "preserve",
	"arrowParens": "always"
}
